# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
artifacts
cache

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# OS file
.DS_Store

# key files
.secret
.infura.key
